$hover-color: #ececec;



.section-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 150px;
  height: 100%;

  a {
    margin-bottom: 5px;
    width: 100%;
    text-align: start;
    font-size: 23px;

    span {
      font-size: 13px;
      margin-right: 6px;
    }
  }
}