<div class="container">
  <h1>Registration</h1>
  <form novalidate #regForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
    <p>
      <mat-form-field>
        <input matInput placeholder="Email" type="email"
          [(ngModel)]="user.email" name="email" 
          #email="ngModel" required/>
          <!-- <mat-error *ngIf="email.errors?.required">Email is required</mat-error> -->
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Username" type="text"
          [(ngModel)]="user.username" name="username" 
          #username="ngModel" required/>
          <!-- <mat-error *ngIf="username.errors?.required">Username is required</mat-error> -->
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password"
          [(ngModel)]="user.password" name="password"
          #password="ngModel" required/>
          <!-- <mat-error *ngIf="password.errors?.required">Password is required</mat-error> -->
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Repeat password" type="password"
          [(ngModel)]="user.repPassword" name="password"
          #password="ngModel" required/>
          <!-- <mat-error *ngIf="password.errors?.required">Password is required</mat-error> -->
      </mat-form-field>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button type="submit" [disabled]="regForm.form.invalid" class="login-button">Submit</button>
  </mat-dialog-actions>
  </form>
</div>