<div class="container">
  <h1>Registration</h1>
  <form novalidate [formGroup]="regForm" #fform="ngForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
    <p>
      <mat-form-field>
        <input matInput placeholder="Email" type="email" name="email" formControlName="email" required/>
        <mat-error *ngIf="formErrors.email">{{ formErrors.email }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Username" type="text" name="name" formControlName="name" required/>
        <mat-error *ngIf="formErrors.name">{{ formErrors.name }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" name="password" formControlName="password" required/>
        <mat-error *ngIf="formErrors.password">{{ formErrors.password }}</mat-error>
      </mat-form-field>
      <!-- <mat-form-field>
        <input matInput placeholder="Repeat password" type="password" name="repPassword" formControlName="repPassword" required/>
        <mat-error *ngIf="formErrors.repPassword">{{ formErrors.repPassword }}</mat-error>
      </mat-form-field> -->
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button type="submit" [disabled]="regForm.invalid" class="login-button">Submit</button>
  </mat-dialog-actions>
  </form>
</div>
