.container {

  .greetings {
    font-size: 45px;
    padding: 0;
    margin: 5px;
    font-weight: normal;
  }
  .last-news-header {
    font-size: 27px;
    padding: 0;
    margin: 5px;
    font-weight: normal;
  }
  .new-friends-container {
    h3 {
      font-size: 27px;
      padding: 0;
      margin: 30px 0 0 0;
      font-weight: normal;
    }
    h4 {
      font-size: 23px;
      padding: 0;
      margin: 5px 10px;
      font-weight: normal;
    }
  }
  .new-messages-container {
    h3 {
      font-size: 27px;
      padding: 0;
      margin: 30px 0 0 0;
      font-weight: normal;
    }
    h4 {
      font-size: 23px;
      padding: 0;
      margin: 5px 10px;
      font-weight: normal;
    }
  }
}
