.container {

  .greetings {
    font-size: 40px;
    padding: 0;
    margin: 5px;
    font-weight: normal;
  }
  .last-news-header {
    font-size: 30px;
    padding: 0;
    margin: 5px;
    font-weight: normal;
  }
}