.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  mat-spinner {
    margin: 100px auto;
  }

  .control-panel {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid grey;
  }

  .search-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    input {
      width: 50%;
      font-size: 20px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid grey;
    }
    .search-button {
      color: #fff;
      background: #FCA311;
      font-size: 23px;
      margin-left: 10px;
    }
  }
}
