<div class="container">
  <div class="search-container">
    <input [(ngModel)]="searchText" type="text" placeholder="Find by name" matInput (keyup.enter)="searchGamesByParams()">
    <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="onClearSearch()">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-button class="search-button" (click)="searchGamesByParams()">Find</button>
    <span class="flex-spacer"></span>
    <button *ngIf="authService.isAdmin()" mat-stroked-button (click)="onCreateGameClick()">Create</button>
  </div>
  <div *ngIf="!isLoading" class="game-list-container">
    <app-game-tile *ngFor="let game of games" [game]="game" (click)="onGameClick(game.id)"></app-game-tile>
  </div>
  <mat-spinner *ngIf="isLoading" class="spinner" diameter="70"></mat-spinner>
</div>
