$background-main: #bbc7e9;

.header-toolbar {

  background: $background-main;
  h1 {
    margin: 10px 5px;
    font-size: 45px;
    font-family: 'Teko', sans-serif;
  }
  a {
    text-decoration: none;
    color: inherit;
    font-size: 25px;
  }
}