$background-main: #bbc7e9;

.header-toolbar {
  font-family: 'Teko', sans-serif;
  background: $background-main;
  h1 {
    margin: 10px 5px;
    font-size: 45px;
    font-family: 'Teko', sans-serif;
  }
  a {
    text-decoration: none;
    color: inherit;
    font-size: 25px;
  }
  .quote-of-day {
    font-size: 17px;
    margin-left: 50px;
    font-style: italic;
  }
  .user-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;

    h2 {
      font-size: 30px;
      font-family: 'Teko', sans-serif;
    }
    img {
      border-radius: 100%;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  button {
    height: 100%!important;
  }

}
