.container {
  .profile-block {

    .profile-header {
      display: flex;
      flex-direction: row;
      img {
        border-radius: 100%;
        height: 200px;
      }
      .user-info {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        h1 {
          margin: 0;
          font-size: 40px;
        }
        .games-block {
          display: flex;
          flex-direction: row;
          align-items: center;
          h2 {
            margin: 0;
          }
          span {
            font-size: 1.4em;
            margin-left: 10px;
          }
          .game-item {
            padding: 0px 5px;
            border: 1px solid grey;
            border-radius: 10px;
          }
          .games-autocomplete {
            margin-left: 10px;
            input {
              font-size: 1.4em;
            }
            option {
              font-size: 1.4em;
            }
          }
        }
        .link-block {
          display: flex;
          flex-direction: row;
          padding: 5px;
          button {
            font-size: 1.3em;
          }
          a {
            font-size: 1.3em;
            color: white;
            margin-right: 10px;
          }
          .steam { background-color: #07049f; }
          .battlenet { background-color: #25cde3; }
          .vk { background-color: #4d7cf1; }
        }
      }
    }

    .profile-body {
      padding: 10px 0px;
      h3 {
        font-size: 27px;
      }
      .desc-text {
        font-size: 23px;
      }
      .desc-textarea {
        padding: 5px;
        border: 1px solid #D4D4D4;
        border-radius: 5px;
        font-size: 20px;
      }
    }
  }

  mat-spinner {
    margin: 100px auto;
  }
}
